Emergency_V5/WP7App1/Service References/EmergencyService/MyPushService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://miasin.somee.com/MyPushService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmergencyService" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfClientDataHistoryDataB67UGcgx">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfClientDataHistoryDataB67UGcgx">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmergencyService" name="Key" nillable="true" type="q1:ClientData" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmergencyService" name="Value" nillable="true" type="q2:HistoryData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfClientDataHistoryDataB67UGcgx" nillable="true" type="tns:ArrayOfKeyValueOfClientDataHistoryDataB67UGcgx" />
</xs:schema>