Emergency_V5/WP7App1/Service References/EmergencyService/MyPushService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EmergencyService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmergencyService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MyPushService/MyPushService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/MyPushService/MyPushService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ClientData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientData" nillable="true" type="tns:ClientData" />
  <xs:complexType name="NotificationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BackTileUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BackTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceConnectionStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotificationChannelStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotificationStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneId" type="ser:guid" />
      <xs:element minOccurs="0" name="PushType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TileUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAppTile" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationData" nillable="true" type="tns:NotificationData" />
  <xs:complexType name="ArrayOfClientData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientData" nillable="true" type="tns:ClientData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientData" nillable="true" type="tns:ArrayOfClientData" />
  <xs:complexType name="HistoryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      <xs:element minOccurs="0" name="DateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceConnectionStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendID" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotificationChannelStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotificationStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryData" nillable="true" type="tns:HistoryData" />
  <xs:complexType name="ArrayOfNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Notification" nillable="true" type="tns:Notification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotification" nillable="true" type="tns:ArrayOfNotification" />
  <xs:complexType name="Notification">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientID" type="xs:int" />
          <xs:element minOccurs="0" name="Datetime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DeviceConnectionStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FriendID" type="xs:int" />
          <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NotificationChannelStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NotificationID" type="xs:int" />
          <xs:element minOccurs="0" name="NotificationStatus" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Notification" nillable="true" type="tns:Notification" />
</xs:schema>