Emergency_V5/WP7App1/Service References/EmergencyService/MyPushService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://miasin.somee.com/MyPushService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmergencyService" />
  <xs:import schemaLocation="http://miasin.somee.com/MyPushService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://miasin.somee.com/MyPushService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ClientRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmergencyService" minOccurs="0" name="client" nillable="true" type="q1:ClientData" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientRegistrationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmergencyService" minOccurs="0" name="ClientLoginResult" nillable="true" type="q2:ClientData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="phoneId" type="q3:guid" />
        <xs:element minOccurs="0" name="channelUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPhoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushToSubscribedPhones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EmergencyService" minOccurs="0" name="data" nillable="true" type="q4:NotificationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushToSubscribedPhonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PushToSubscribedPhonesResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EmergencyService" minOccurs="0" name="client" nillable="true" type="q6:ClientData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EmergencyService" minOccurs="0" name="SearchFriendsResult" nillable="true" type="q7:ArrayOfClientData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSosNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EmergencyService" minOccurs="0" name="client" nillable="true" type="q8:ClientData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSosNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SendSosNotificationsResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="friendUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFriendResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFriendshipsStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFriendshipsStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EmergencyService" minOccurs="0" name="CheckFriendshipsStatusResult" nillable="true" type="q10:ArrayOfClientData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteFriendshipRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="friendUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteFriendshipRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="friendUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFriendResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EmergencyService" minOccurs="0" name="GetFriendsListResult" nillable="true" type="q11:ArrayOfClientData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>